body {
    background-color: black;
    color: black;
    align-items: center;
    gap: 30px;
}

h1 {
    color: white;
    text-align: center;
    

}

form {
    background-color: #1A1A1A;
  
   width: 75%;
   align-items: center;
   border-radius: 23px;
   
}

fieldset {
    border-radius: 23px;
    text-align: left;
     background-color:rgb(145, 142, 142);
    margin: 30px;
    height: auto;
}


/* music section */
.proj {
    background-color: #0F172A;
    font-family: 'Times New Roman', Times, serif;
    width: 35%;
    height: auto;
    border-radius: 15px;
    text-align: center;
}