body {
    font-family: 'Open Sans', sans-serif;
}
html {
    font-size: 16px;
}
.label {
    border: 2px solid black;
    width: 270px;
    margin: 270px auto;
    padding: 0 7px;
}
* {
    box-sizing: border-box;
}
h1 {
    font-weight: 800;
    text-align: center;
    margin-top: -4px;
    margin-bottom: -4px;
    margin-right: 0;
    margin-left: 0;
}
p {
    margin: 0;
}
.divider {
    border-bottom: 1px solid #888989;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0;
    margin-right: 0;
  }