body {
    background-color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: oblique;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  .container-nav {
    text-align: right;
    display: flex;
    justify-content: left;
    position: relative;
    z-index: -2;
  }

  .name {
    color: black;
     position: fixed;
     left: 50px;
     font-size: large;
     font-weight: italic;
  }

  .list {
    text-align: right;
    display: flex;
    justify-content: left;
  }
  
  input {
    background-color: white;
    width: 500px;
    height: 25px;
  }
  textarea {
    width: 500px;
  }

  h5 {
    text-align: center;
    font-size: 50px;
    color: chartreuse;
    font-family: sans-serif;
    font-weight: bold;
  }
  .introduction {
    text-align: center;
    font-size: medium;
    position: absolute;
    right: 100px;

  }
  
  .btn {
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 20rem;
    right: 19rem;
  }
  .button {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-style: inherit;
    padding: 20px;
    width: 300px;
    border-radius: 40px;
  }
  .button:hover {
    color: greenyellow;
    background-color: gold;
  }

  /* webpage cover */
.portfolio {
    background-color: blueviolet;
    border-radius: 7px;
    position: absolute;
    right: 0;
    height: 580px;
    width: 100%;
}

  /* section with a class of about*/
  .about {
    background-color: bisque;
    max-width: 50%;
    text-align: center;
    position: absolute;
    right: 0;
    top: 41rem;
    border-radius: 25px;
  }

  /* skills section */
  .skillsSection {
    background-color: azure;
    width: 95%;
    position: absolute;
    top: 59rem;
    right: 30px;
    border-radius: 30px;
    height: 20rem;
   }

   .skills {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
    text-align: center;
    border-radius: 30px;
   }
    
   
   .language {
    height: 90px;
    width: 150px;
    border-radius: 30px;
    background-color: aquamarine;
    
   }
   
/* project section */
.project {
    position: absolute;
    top: 80rem;
    right: 30px;
    background-color: burlywood;
    width: 95%;
    height: 20rem;
    border-radius: 30px;
}

.projectcontainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
}

.projectdiv {
    background-color: cadetblue;
    border-radius: 30px;
    height: 15rem;
    width: 15rem;
    text-align: center;
}

/* contact section */
.contactSection {
    position: absolute;
    top: 101rem;
    right: 30px;
    background-color: darkcyan;
    border-radius: 30px;
    width: 95%;
    height: 300px;
    text-align: center;
}
