body {
    background-color: black;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    align-items: center;
    position: absolute;
    right: 0;
    gap: 3rem;
}

.contain {
width: 25rem;
    height: auto;
    background-color: rgb(39, 40, 42);
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
    margin-bottom: 15px;


}

.screen {
    width: 95%;
    height: 4.5rem;
    background-color: grey;
    border-radius: 7px;
    text-align: left;
}

.btns {  
    border-radius: 15px;
    gap: 20px;
}

.num {
 width: 5.5rem;
    height: 3.5rem;
    border-radius: 10px;
    background-color: rgb(3, 3, 3);
}

.opert {
    width: 5.5rem;
    height: 3.5rem;
    border-radius: 10px;
}

input {
    align-items: left;
    width: 100%;
    height: 100%;
    background-color: grey;
}
/*
.head {
  text-align: center;
}

.container {
    background-color: rgb(6, 6, 15);
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    gap: 30px;

}

.sec1 {
    align-items: center;
    gap: 5px;
    text-align: center;
    border-radius: 15px;
    
} 

input {
    width: 70%;
    height: 2.5rem;
    border-radius: 5px;
}

fieldset {
    width: 35rem;
    height: 3rem;
    border-radius: 15px;
}

.sec2 {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.dyn {
    width: 20rem;
    height: 15rem;
    background-color: beige;
    border-radius: 30px;
    padding: 30px;
    color: black;
    text-align: center;
    padding: none;
}


.dyn:hover {
    width: 23rem;
    height: 16rem;
    background-color: bisque;
    color: purple;
    transform: smooth;
}

button {
    width: 8rem;
    height: 3rem;
    background-color: green;
    border-radius: 15px;
}

button:hover {
    background-color: black;
    color: white;
}

main {
    background-color: darkcyan;
    border-radius: 7px;
    gap: 30px;
    align-items: center;
    width: 90%;
    position: absolute;
    left: 5rem;
}

//initial code:
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=devicewidth initialscale=1.0"/>
        <link rel="stylesheet" href="styles.css" />
        <title>Notes editor</title>
    </head>
    /*
    <body class="container">
          
        <div class="head">
          <h1>STORE & SECURE YOUR DATA.</h1>
          <button type="button" id="btn-td">Time $ dATE</button>
          <div class="dt" id="dt"></div>
        </div>

        <main id="carrier" class="carrier">

            <section class="sec1">
                <fieldset>
                <label for="name"> Name:
                   <input type="text" name="name" placeholder="Enter your name here....." required/>
                </label>
                </fieldset>
                  
                 <fieldset>
                <label for="username">Username:
                   <input type="text" name="surname" placeholder="Enter your username....." required/>
                </label>
                </fieldset>

                  <fieldset>
                <label for="email">Email:
                   <input type="email" name="email_name" placeholder="example@gmail.com" required/>
                </label>
                </fieldset>


                <fieldset> 
                <label for="password">Password:
                   <input type="password" placeholder="Create a strong Password"required/>
                </label>
                </fieldset>

                <fieldset>
                <label for="age"> Age:
                   <input type="number" min="15" max="100" name="age" required/>
                </label>
                </fieldset>

                <fieldset>
                <label for="gender">Gender:
                   <select>
                    <option>select</option>
                    <option>Male</option>
                    <option>Female</option>
                   </select>
                </label>
                 </fieldset>
              <button type="button" id="btn-s">Update Information</button>
            </section>

            <section class="sec2">
            <div class="dyn" id="dyn">
                <h2>Notes added</h2>
                <input type="document" />
                <div id="notes" class="notes">
                </div>
            </div>

             <div class="dyn" id="dyn">
                <div class="pics" id="pics">
                    <h2>Pictures stored</h2>
                    <input type="file" />
                     <div class="dsn-scr" id="dsn-scr1"></div>
                </div>
              </div>  
            
             <div class="dyn" id="dyn">
                <div class="audio" id="audio">
                    <h2>Audio</h2>
                    <input type="audio" />
                    <audio src="https://cdn.freecodecamp.org/curriculum/js-music-player/cruising-for-a-musing.mp3" controls></audio>
                    <audio src="https://cdn.freecodecamp.org/curriculum/js-music-player/can't-stay-down.mp3" loop controls muted></audio>
                </div>
            </div>

           <div class="dyn" id="dyn">
                <div class="vid" id="vid">
                    <h2>Videos Stored</h2>
                    <input type="video" />
                   <video src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4" loop controls muted width="400" poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217"></video>
                </div>
            </div>

            <div class="dyn" id="dyn">
                <div class="email" id="email">
                    <h2>Email Archieved</h2>
                    <input type="email" />
                </div>
            </div>

            </section>

            </main>

        <script src="script.js">d</script>
    </body>
</html>
*/