.container {
    background: grey;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.notes {
    background-color:beige;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    text-transform: lowercase;
    width: 35%;
    height: 150px;
    border-radius: 30px;
    padding: 12px;
    position: absolute;
    right: 0px;
}

h2 {
    color: blue;
    padding: 3px;
    margin-top: 0px;
}

.btn1 {
    color: white;
    width: 200px;
    height: 70px;
    border-radius: 25px;
    background-color: blue;
    font-size: x-large;
}

.sec1 {
    background-color: rgb(18, 16, 31);
    width: 35%;
    height: 500px;
    position:absolute;
    left: 0px;
    border-radius: 30px;
    text-align: right;
}

fieldset {
     border: none;
    padding-bottom: 1rem;
    padding-top : 1rem;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 3px solid #3b3b4f
} 
label {
    display: block;
}

input {
    width: 70%;
    height: 2rem;
    border-radius: 5px;
}