body {
   font-family: sans-serif;
   margin: 20px;
   background-color: black;
   color: #333; 
   line-height: 1.6;
   display: flex;
   flex-direction: column;
   align-items: center; 
   gap: 20px;
 }
 
 .carrier {
   background-color: black; 
   padding: 30px;
   border-radius: 105px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   text-align: center; 
   height: 215px;
   width: 900px;
   border-style: groove;
   border-radius: 15%;
 }

 section:hover{ 
  height: 250px;
  width: 1000px; 
   padding: 30px;
   border-radius: 105px;
   border-style: dashed;
   border-radius: 40%;
 }
 
 h1 {
   color: #007bff; 
   background-color: #e9ecef; 
   font-size: 2.5em;
   padding: 15px;
   border-radius: 8px;
   margin-top: 0;
   margin-bottom: 20px;
   border: 1px solid #ccc;
 }
 
 p {
   margin-bottom: 15px;
 }
 
 #p {
   font-weight: bold;
   color: #28a745; 
 }
 
 /*
 .webpage {
   background-color: #d8bfd8; 
   padding: 20px;
   border-radius: 8px;
   
   text-align: left; 
   width: 100%; 
   font-size: 1em; 
   font-style: normal; 

   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
   
 }
   */
 
 p {
   margin: 10px 0;
 }
 
 a {
   color: #c1c2c3;
   text-decoration: none;
   font-weight: bold;
 }
 
a:hover {
   text-decoration: white;
 }
 
 .study,
 .about,
 .resume,
 .html,
 .cs,
 .java,
 .projects,
 .portfolio {
   margin-bottom: 10px;
 }
 
 details {
   margin-top: 20px;
   border: 1px solid #ccc;
   padding: 15px;
   border-radius: 5px;
   background-color: #f9f9f9;
   text-align: left;
 }
 
 summary {
   font-weight: bold;
   cursor: pointer;
   margin-bottom: 10px;
 }
 
 details div {
   margin-bottom: 5px;
 }
 
 details address {
   font-style: normal;
 }