body {
    background-color: aqua;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: green;
}

.carrier {
    border-radius: 20px;
    text-align: center;
    background-color: blue;
    color: white;
}