body {
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: black;
    border-radius: 7%;
}

.carrier {
    border-radius: 20px;
    text-align: center;
    background-color: aqua;
    color: black;
    height: 125px;
    width: 515px;
}

h1 {
    color: white;
    text-align: center;
}