
body {
    background-color: pale-blue;
  }
  
  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .market {
    background-color: grey;
    display: flex;
    
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  nav {
    font-weight: 400;
  }
  
  .price {
    border-radius: 10%;
    height: 100px;
    width: 235px;
    padding: 70px;
    background-color: pink;
    margin: 5px;
    color: blue;
  }
  
  .h1{
    color: yellow;
    margin: 0px;
    text-align: left;
  
  }
  
  .footer {
    color: purple;
    background-color: black;
  }
  
  @media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
  }
  
  #page-wrapper {
    position: relative;
  }
  
  