body {
    background-color: darkgrey;
}

.comtainer-div {
    background-color: blue;
    position: center;
    z-index: 1;
    align-items: center;
}

.container {
    text-align: center;
    background-color: aqua;
    border-radius: 15px;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    width: 310px;

}
.display-scr {
    background-color: aliceblue;
    color: black;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 90px;
    width: 300px;
    border-radius: 7px;
}

.number-btn {
  border-radius: 5px;
  background-color: yellow;
  color: black;
  text-align: center;
  font-size: large;
  height: 50px;
  width: 70px;
  padding: 0;
}

.number-btn-m2 {
    border-radius: 5px;
    background-color: rgb(0, 208, 255);
    color: black;
    text-align: center;
    font-size: large;
    height: 50px;
    width: 70px;
}

.btn {
    border-radius: 5px;
    background-color: green;
    text-align: center;
    height: 6px;
    width: 15px;
}