h1 {
    color: blue;
    background-color: purple;
    border-radius: 21rem;
    margin: 5px 5px;
    padding: 1px 1px;
    font-weight: italic;
    width: 700px;
    
  }
  main {
    background-color: gray;
    width: 700px;
  }
  nav {
    text-align: left;
    background-color: green;
    width: 700px;
  }
  @media (max-width: 768px) {
    main {
      width: 500px;
    }
}