body {
  background-color: black;
}
.container {
   background-color: bisque;
   align-items: center;
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
    }   

.nsw {
  object-fit: cover;
  border-radius: 30px;
 background-color: darkgray;
 text-align: center;
 width: 515px;
 height: 115px;
}
h1 {
  text-align: center;
  color: white;
}
