body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    z-index: 50; /* Ensure it's above other content */
}